# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
/next-env.d.ts

# Dotenv
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo